
header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: black;
    box-shadow: 0 0 1rem ; 
}
ul{
    display: flex;
    margin: 23px;
}
li{
    color: rgb(241, 238, 238);
    list-style-type: none;
    cursor: pointer;
    padding-left: 2rem;
}